<%-layout('./layout/boilerPlate')%>
<link rel="stylesheet" href="/styleSheets/cart.css">
<div id="contain" class="container-fluid">
        <section class="d-flex">
            <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <% cart.forEach((item,i) => {%>
        <tr >
          <th class=" mt-4" scope="row" ><%= i+1 %></th>
          <td><%= item.name %></td>
          <td>$ <%= item.price %></td>
          <td><%= item.quantity %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
        </section>
</div>