<%-layout('./layout/boilerPlate.ejs')%>
<link rel="stylesheet" href="/styleSheets/menuPage.css" />

<div id="container" class="container-fluid">
  
  <section class="d-flex flex-column">
    <% menuItems.forEach((index,i) => {%>
    <div id="<%= index.id %>" class="card" data-key="<%= index.id %>">
      <div class="infos">
        <div class="image">
          <img class="img-fluid" src="/jollofrice.jpg" alt="" />
        </div>
        <div class="info">
          <div>
            <p class="name"><%= index.name %></p>
            <p class="function"><%= index.description %></p>
          </div>
          <div class="stats">
            <p class="flex flex-col">
              price
              <span class="state-value"> <%= index.price %> </span>
            </p>
            <p class="flex">
              rating
              <span class="state-value"> <%= index.rating %> </span>
            </p>
          </div>
        </div>
        <div
          
          data-value="<%= index.id %>"
          class=" buttoncontainer  d-flex align-items-center justify-content-evenly "
        >
          <button id="add<%= index.id %>" class="addition addQuantity">
           +
          </button>
          <input
            id="display<%=index.id%>"
            placeholder="Qty"
            type="number"
            min="0"
            max="10"
            value="0"
            class="input mx-3"
          />
          <button id="sub<%=index.id%>" class="subtraction addQuantity">
            -
          </button>
        </div>
      </div>
      <form action="/addTocart/<%= index.id %>" method="post">
        <input type="hidden" name="id" value="<%= index.id %>" />
        <input type="hidden" name="name" value="<%= index.name %>" />
        <input type="hidden" name="price" value="<%= index.price %>" />
        <input id="final-quantity<%=index.id%>" type="hidden" name="quantity" />
        <button class="request" type="submit">Add to Cart</button>
      </form>
    </div>
    <% });%>
  </section>
</div>

<script src="/javascripts/menuPage.js"></script>
